<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.xaqb.policescan">

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_LOGS" />

    <!-- 允许对sd卡进行读写操作 -->

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <!-- 网络库使用，当网络操作时需要确保事务完成不被杀掉 -->

    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:name=".Other.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/icont"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- 配置APP ID -->
        <meta-data
            android:name="BUGLY_APPID"
            android:value="APP ID" />
        <!-- 配置APP版本号 -->
        <meta-data
            android:name="BUGLY_APP_VERSION"
            android:value="APP Version" />
        <!-- 配置APP渠道号 -->
        <meta-data
            android:name="BUGLY_APP_CHANNEL"
            android:value="APP Channel" />
        <!-- 配置Bugly调试模式（true或者false） -->
        <meta-data
            android:name="BUGLY_ENABLE_DEBUG"
            android:value="isDebug" />

        <activity android:name=".Activity.SplashActivity"
                    android:screenOrientation="portrait">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activity.LoginActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            />
        <activity
            android:name=".Activity.QueryActivity"
            android:screenOrientation="portrait"

            />
        <activity
            android:name=".Activity.QueryWebviewActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".zxing.activity.CaptureActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.FindKeyActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_find_key" />
        <activity android:name=".Activity.TotalActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".Activity.QueryPerActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".Activity.QueryComActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".Activity.QueryOrgActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".Activity.ComActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".Activity.PerActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".Activity.FinishActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".Activity.PerDetailActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".Activity.ComDetailActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".Activity.SearchComsActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".Activity.UpdateActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".Activity.SearchOrgActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".Activity.OrgActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".Activity.OrgDetailActivity"
            android:screenOrientation="portrait"></activity>
    </application>

</manifest>